.form {
  background: #ffffff;
  position: relative;
  box-shadow: 0px 0px 25px 0px #00000026;
  box-sizing: border-box;
  padding: 34px 36px 36.51px;

  width: 430px;
  aspect-ratio: 1.3;
  border-radius: 10px;
}

.form__title {
  margin: 0;
  color: #000000;
  font-weight: 900;
  font-size: 24px;

  margin-bottom: 54px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__input {
  padding: 0;
  margin-bottom: 29.74px;
  width: 100%;
  height: 27.26px;
  box-sizing: border-box;
  color: #000000;
  font-size: 14px;
  border-style: none none solid;
  border-color: #c4c4c4;
}

/* PSEUDOCLASES DE VALIDACIÓN ++++++++++++++++++++++++++++++++++++++*/

/* .form__input:invalid { */
.form__input_type_error {
  border-bottom: 1px solid red;
  /* el borde rojo es para entradas no válidas */
}

.form__input:valid {
  border-bottom: 1px solid green;
  /* y el borde verde es para entradas válidas */
}
/* PSEUDOCLASES DE VALIDACIÓN ++++++++++++++++++++++++++++++FIN*/

/* .form__submit:valid  { */
.form__submit:valid {
  margin-top: 16px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 50.15px;
  box-sizing: border-box;
  margin-bottom: 32px;
  font-size: 18px;
}

.form__submit:hover {
  opacity: 80%;
}

/* PSEUDOCLASES DE VALIDACIÓN ++++++++++++++++++++++++++++++++++++++*/

.form__submit:invalid {
  border: 1px solid red;
  background-color: #ffffff;
  color: #a8a6a6;
  /* el borde rojo es para entradas no válidas */
}

/* PSEUDOCLASES DE VALIDACIÓN ++++++++++++++++++++++++++++++FIN*/

/* MODIFICAR ----------------------------------------------- */
.form__close-button,
.form__add-card-close-button {
  /* background-image: url(./../images/CloseIcon.png); */
  aspect-ratio: 1;
  width: 32px;
  background-color: black;
  position: absolute;
  object-fit: cover;
  top: -40px;
  right: -40px;
  border: none;
}

.form__close-button:hover,
.form__add-card-close-button:hover {
  opacity: 60%;
}

/* MODIFICAR ----------------------------------------------- FIN*/

/* ++++++++++  SMALL  max-width: 800px +++++++++ */
/* @media screen and (max-width: 800px) { */
@media screen and (max-width: 700px) {
  .form {
    padding: 25px 22px;

    width: 88.12%;
    aspect-ratio: 0.8757;
    border-radius: 10px;
  }

  .form__title {
    font-size: 18px;
    margin-bottom: 32%;
  }

  .form__input {
    margin-bottom: 13%;
  }

  .form__submit {
    margin: 0;
    margin-top: 7%;
  }

  .form__close-button,
  .form__add-card-close-button {
    top: -37px;
    right: 5px;
    width: 26px;
    object-fit: scale-down;
  }
}

/* opcionaL pero recomendado CHGPT ++++++++++++++++++++++++++++++++++++++++*/
.button_inactive {
  opacity: 0.5;
  cursor: not-allowed;
}
